// C O L O R S
$color-primary: #0072B8;
$color-secondary: #FFF384;
$color-grey-light: #F8F8F8;
$color-grey-dark: #C6C6C6;

$color-white: #FFF;
$color-black: #000;
$color-dark: #202020;
$color-grey: #444444;

// D E F A U L T  S I Z E
$default-font-size: 1.6rem;

// sizes for margin and padding
$small: 1rem;
$medium: 2rem;
$large: 4rem;
$xlarge: 6rem;
$xxlarge: 8rem;